<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="richText/bootstrap-combined.no-icons.min.css">
        <link rel="stylesheet" href="css/bootstrap-responsive.min.css">
        <link href="http://netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css" rel="stylesheet">
        <link rel="stylesheet" href="richText/index.css" type="text/css"> </link>
        <script src="js/bootstrap.min.js"></script>
        <!--<script src="js/brand/brand.js"></script>-->
        <script src="richText/bootstrap-wysiwyg.js" type="text/javascript"></script>
        <script src="js/jquery-1.9.1.js"></script>
        <script src="richText/jquery.hotkeys.js" type="text/javascript"></script>
  <style>
     body,html{
          width: 100%;
          height: 100%;
          background: #fff;
        }
     #editor{
         height: 200px;
     }
      #main-content{
          margin-left: 190px;
      }
     #page-content {
         margin: 0;
         background: #FFF;
         padding: 8px 20px 24px;
     }
      .modal-footer{
          background: #fff;
      }


  </style>

        <script th:inline="javascript">
            $(function(){
                var message = [[${manManufacturer}]];
                console.log(message);

                $("#btnsave").click(function(){
                    if(message!=null){
                        var data={
                            manId:message.manId,
                            nameCn: $("#nameCn").val(),
                            nameEn: $("#nameEn").val(),
                            description:$("#editor").val(),
                            gmcReportType:$("#confirm_type").val(),
                            gmcReportUrl:$("#confirm_url").val()
                        };
                        console.log(data)
                        $.ajax({
                            url:"../saveBrand",
                            type:"POST",
                            contentType:"application/json",
                            dataType:"json",
                            data:  JSON.stringify(data),
                            success : function (result) {
                                if(result.code==200){
                                    alert(result.message)
                                    window.location.href="/brand-addbrand";
                                }else if(result.code==-1){
                                    alert(result.message)
                                }else {
                                    alert("系统繁忙")
                                }
                            }
                        });
                    }else {
                        var data={
                            nameCn: $("#nameCn").val(),
                            nameEn: $("#nameEn").val(),
                            description:$("#editor").val(),
                            gmcReportType:$("#confirm_type").val(),
                            gmcReportUrl:$("#confirm_url").val()
                        };
                        console.log(data)
                        $.ajax({
                            url:"../saveBrand",
                            type:"POST",
                            contentType:"application/json",
                            dataType:"json",
                            data:  JSON.stringify(data),
                            success : function (result) {
                                if(result.code==200){
                                    alert(result.message)
                                    window.location.href="/brand-addbrand";
                                }else if(result.code==-1){
                                    alert(result.message)
                                }else {
                                    alert("系统繁忙")
                                }
                            }
                        });
                    }

                    return false;
                });
            });
        </script>

    </head>
    <body>

    <div id="main-content" class="clearfix">
        <div id="page-content" class="clearfix">


    <div class="page-header position-relative">
        <h1 style="color: #2679b5;font-size: 24px;font-weight: normal">品牌商<small style="font-size: 14px"><i class="icon-double-angle-right"></i> 公司信息</small></h1>
    </div>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        <!--th:text="${brand.nameCn} th:each="brand:${manManufacturer}""-->
      <div class="modal-body" style="max-height:none">
          <form class="form-horizontal" >

            <div class="control-group">
              <label class="control-label" for="nameCn">Company Name<br>公司名称(中)</label>
              <div class="controls">
                <input type="text" id="nameCn" th:value="${manManufacturer!=null}?${manManufacturer.nameCn}">
              </div>
            </div>
           <div class="control-group">
                  <label class="control-label" for="nameEn">Company Name<br>公司名称(英)</label>
                  <div class="controls">
                    <input type="text" id="nameEn" th:value="${manManufacturer!=null}?${manManufacturer.nameEn}">
                  </div>
                </div>
            <div class="control-group">
              <label class="control-label" for="editor">Brief Introduction<br>公司简介</label>
                <textarea  id="editor" class="form-control" rows="16" style="min-width: 60%;resize: none" th:text="${manManufacturer!=null}?${manManufacturer.description}" >

                </textarea>
            </div>

            <div class="control-group">
              <label class="control-label" for="confirm_type">GMC Report Type<br> 品牌商认证类型</label>
              <div class="controls">
                <input type="text" id="confirm_type" th:value="${manManufacturer!=null}?${manManufacturer.gmcReportType}">
              </div>
            </div>

            <div class="control-group">
              <label class="control-label" for="confirm_url">GMC Report Url<br>证书地址</label>
              <div class="controls">
                <input type="text" id="confirm_url"  th:value="${manManufacturer!=null}?${manManufacturer.gmcReportUrl}">
              </div>
            </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary" id="btnsave"
                data-toggle="tooltip" data-placement="top">保存</button>
      </div>
    </div>
  </div>

    <!-- Modal -->
<div style="margin-left: -385px;width: 770px;" class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  </div></div></div>


    </body>
</html>
