<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/bootstrap-responsive.min.css">
        <link rel="stylesheet" href="/css/font-awesome.min.css">
        <link rel="stylesheet" href="/css/ace.min.css">
        <link rel="stylesheet" href="/css/ace-skins.min.css">
        <link rel="stylesheet" href="/css/ace-responsive.min.css">
        <script type="text/javascript" src="/js/jquery-1.9.1.js"></script>

    </head>
    <style>
        body,html{
            width: 100%;
            height: 100%;
            background: #fff;
        }

        .content{
            width: 50%;
            margin:20px auto;
        }
        .shop{
            width: 80%;
            margin-top: 50px;

        }
    </style>
    <body>
<div id="main-content" class="clearfix">
  <div id="page-content" class="clearfix">
      <h3 class="header smaller lighter red">新建店铺</h3>
        <div class="content">
            <div class="goodsname  control-group">
                <div><label>店铺名称</label><input type="text" id="name"></div>
                <!--<div><label>卖家 ID</label><input type="text" ></div>-->
                <div><label>市场 ID</label><input type="text" id="market"></div>
                <div><label>MWS身份验证令牌</label><input type="text" id="token"></div>
                <div class="button save"><button class="btn" style="margin-right: 10px">取消</button>
                    <button class="btn btn-primary" id="btnsave">保存</button></div>
            </div>
        </div>
    </div>
    </div>
    <script type="text/javascript">
    $(function(){
        // $(".shop").click(function(event) {
        //     $(".goodscontent h3").text($(this).text());
        //     $(".shop").hide();
        //     $(".goodsname").show();
        // });


        $("#btnsave").click(function(){

            var data={
                storeName:$("#name").val(),
                plataeformType :$("#market").val(),
                storeStsCd :$("#token").val()
            }

            console.log(data)
            $.ajax({
                url: "/bvo/store/save",
                type:"POST",
                contentType:"application/json",
                dataType:"json",
                data:  JSON.stringify(data),
                success: function(result){
                    if(result.code==200){
                        alert(result.message)
                        window.location.href="/bvo/store/show";
                    }else{
                        alert(result.message);
                    }
                }
            });
        })



    })
    </script>
    </body>
</html>
