<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.neusoft.commerce.dao.ProProductMapper" >
  <resultMap id="BaseResultMap" type="com.neusoft.commerce.models.ProProduct" >
    <id column="PRO_ID" property="proId" jdbcType="INTEGER" />
    <result column="SKU_CD" property="skuCd" jdbcType="VARCHAR" />
    <result column="BRD_ID" property="brdId" jdbcType="INTEGER" />
    <result column="MAN_ID" property="manId" jdbcType="INTEGER" />
    <result column="TITLE" property="title" jdbcType="VARCHAR" />
    <result column="UPC" property="upc" jdbcType="VARCHAR" />
    <result column="EAN" property="ean" jdbcType="VARCHAR" />
    <result column="MODEL" property="model" jdbcType="VARCHAR" />
    <result column="WARRANTY_DAY" property="warrantyDay" jdbcType="VARCHAR" />
    <result column="RETAIL_PRICE" property="retailPrice" jdbcType="DECIMAL" />
    <result column="CREATED_BY" property="createdBy" jdbcType="VARCHAR" />
    <result column="CREATION_DATE" property="creationDate" jdbcType="TIMESTAMP" />
    <result column="LAST_UPDATE_BY" property="lastUpdateBy" jdbcType="VARCHAR" />
    <result column="LAST_UPDATE_DATE" property="lastUpdateDate" jdbcType="TIMESTAMP" />
    <result column="CALL_CNT" property="callCnt" jdbcType="INTEGER" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
    <result column="STS_CD" property="stsCd" jdbcType="CHAR" />
    <result column="MININUM_RETAIL_PRICE" property="mininumRetailPrice" jdbcType="DECIMAL" />
    <result column="REPLENISHMENT_PERIOD" property="replenishmentPeriod" jdbcType="INTEGER" />
    <result column="KEY_WORDS" property="keyWords" jdbcType="VARCHAR" />
    <result column="TIME_UNIT" property="timeUnit" jdbcType="VARCHAR" />
    <result column="STOCKSETING" property="stockseting" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.neusoft.commerce.models.ProProduct" extends="BaseResultMap" >
    <result column="WARRANTY" property="warranty" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    PRO_ID, SKU_CD, BRD_ID, MAN_ID, TITLE, UPC, EAN, MODEL, WARRANTY_DAY, RETAIL_PRICE, 
    CREATED_BY, CREATION_DATE, LAST_UPDATE_BY, LAST_UPDATE_DATE, CALL_CNT, REMARK, STS_CD, 
    MININUM_RETAIL_PRICE, REPLENISHMENT_PERIOD, KEY_WORDS, TIME_UNIT, STOCKSETING
  </sql>
  <sql id="Blob_Column_List" >
    WARRANTY
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from pro_product
    where PRO_ID = #{proId,jdbcType=INTEGER}
  </select>






  <select id="selectByManId" resultType="com.neusoft.commerce.models.dto.ProductDTO" parameterType="java.lang.Integer" >
    select
    pro.PRO_ID,
    pro.MAN_ID,
    pro.TITLE,
	pro.SKU_CD,
	pro.UPC,
	pro.EAN,
	pro.MODEL,
	pro.TIME_UNIT,
	pro.STS_CD,
	ofp.OFP_ID,
    ofp.PRICE,
	pck.PCK_ID,
    pck.WAR_ID ,
	pck.WIDTH,
	pck.HEIGHT,
	pck.LENGTH,
	pck.WEIGHT,
	pdn.PDN_ID,
	pdn.TYPE_CD,
    pdn.DESCRITION ,
	spa.SPA_ID,
    spa.NAME_EN ,
	spv.SPV_ID,
    spv.NAME_CN

    from pro_product pro
    left join ofp_offer_price ofp on ofp.PRO_ID =  pro.PRO_ID
    left join pck_package_info pck on pck.PRO_ID = pro.PRO_ID
    left join pdn_product_descrition pdn on pdn.PRO_ID = pro.PRO_ID
    left join spa_specific_attribute spa on spa.PRO_ID=pro.PRO_ID
    left join spv_specific_attribute_value spv on spv.SPA_ID = spa.SPA_ID
    where pro.MAN_ID = #{manId,jdbcType=INTEGER} and pro.STS_CD='A'
    order by  ofp.PRICE

  </select>
  <select id="selectByProId" resultType="com.neusoft.commerce.models.dto.ProductDTO" parameterType="java.lang.Integer" >
    select
    pro.PRO_ID,
    pro.MAN_ID,
    pro.TITLE,
	pro.SKU_CD,
	pro.UPC,
	pro.EAN,
	pro.MODEL,
	pro.TIME_UNIT,
	pro.STS_CD,
	ofp.OFP_ID,
    ofp.PRICE,
	pck.PCK_ID,
    pck.WAR_ID ,
	pck.WIDTH,
	pck.HEIGHT,
	pck.LENGTH,
	pck.WEIGHT,
	pdn.PDN_ID,
	pdn.TYPE_CD,
    pdn.DESCRITION ,
	spa.SPA_ID,
    spa.NAME_EN ,
	spv.SPV_ID,
    spv.NAME_CN
    from pro_product pro
    left join ofp_offer_price ofp on ofp.PRO_ID =  pro.PRO_ID
    left join pck_package_info pck on pck.PRO_ID = pro.PRO_ID
    left join pdn_product_descrition pdn on pdn.PRO_ID = pro.PRO_ID
    left join spa_specific_attribute spa on spa.PRO_ID=pro.PRO_ID
    left join spv_specific_attribute_value spv on spv.SPA_ID = spa.SPA_ID
    where pro.PRO_ID = #{proId,jdbcType=INTEGER}

  </select>
  <!--条件查询-->
  <select id="selectByManIdAndCondition" resultType="com.neusoft.commerce.models.dto.ProductDTO" parameterType="java.util.Map" >
    select
    pro.PRO_ID,
    pro.MAN_ID,
    pro.TITLE,
    pro.SKU_CD,
    pro.UPC,
    pro.EAN,
    pro.MODEL,
    pro.TIME_UNIT,
    pro.STS_CD,
    ofp.OFP_ID,
    ofp.PRICE,
    pck.PCK_ID,
    pck.WAR_ID ,
    pck.WIDTH,
    pck.HEIGHT,
    pck.LENGTH,
    pck.WEIGHT,
    pdn.PDN_ID,
    pdn.TYPE_CD,
    pdn.DESCRITION ,
    spa.SPA_ID,
    spa.NAME_EN ,
    spv.SPV_ID,
    spv.NAME_CN

    from pro_product pro
    left join ofp_offer_price ofp on ofp.PRO_ID =  pro.PRO_ID
    left join pck_package_info pck on pck.PRO_ID = pro.PRO_ID
    left join pdn_product_descrition pdn on pdn.PRO_ID = pro.PRO_ID
    left join spa_specific_attribute spa on spa.PRO_ID=pro.PRO_ID
    left join spv_specific_attribute_value spv on spv.SPA_ID = spa.SPA_ID
    where pro.MAN_ID = #{manId,jdbcType=INTEGER} and pro.STS_CD = 'A'
    <if test="tittle">
      and pro.TITLE like concat('%',#{tittle,jdbcType=VARCHAR},'%')
    </if>
  </select>

  <!--商品管理；查询全部商品，不分状态查询-->
  <select id="selectAllByManId" resultType="com.neusoft.commerce.models.dto.ProductDTO" parameterType="java.lang.Integer" >
    select
    pro.PRO_ID,
    pro.MAN_ID,
    pro.TITLE,
	pro.SKU_CD,
	pro.UPC,
	pro.EAN,
	pro.MODEL,
	pro.TIME_UNIT,
	pro.STS_CD,
	ofp.OFP_ID,
    ofp.PRICE,
	pck.PCK_ID,
    pck.WAR_ID ,
	pck.WIDTH,
	pck.HEIGHT,
	pck.LENGTH,
	pck.WEIGHT,
	pdn.PDN_ID,
	pdn.TYPE_CD,
    pdn.DESCRITION ,
	spa.SPA_ID,
    spa.NAME_EN ,
	spv.SPV_ID,
    spv.NAME_CN

    from pro_product pro
    left join ofp_offer_price ofp on ofp.PRO_ID =  pro.PRO_ID
    left join pck_package_info pck on pck.PRO_ID = pro.PRO_ID
    left join pdn_product_descrition pdn on pdn.PRO_ID = pro.PRO_ID
    left join spa_specific_attribute spa on spa.PRO_ID=pro.PRO_ID
    left join spv_specific_attribute_value spv on spv.SPA_ID = spa.SPA_ID
    where pro.MAN_ID = #{manId,jdbcType=INTEGER} and  pro.STS_CD in ('S', 'A','I','W')
    order by  ofp.PRICE

  </select>


  <!--商品管理-->
  <select id="selectProductCategory" parameterType="java.lang.Integer" resultType="com.neusoft.commerce.models.dto.ProductCategory">
    select
    pro.PRO_ID,
    pro.MAN_ID,
    pro.TITLE,
	pro.STS_CD,
	prc.PRC_ID,
	prc.CATEGORY_NAME
	from pro_product pro
	left join prc_product_category prc on pro.PRO_ID = prc.PRO_ID
	where pro.MAN_ID=#{manId} and pro.STS_CD in ('S', 'A','I','W')
  </select>


  <!--商品分类详细-->
  <select id="selectProductCategoryDetail" parameterType="java.lang.Integer" resultType="com.neusoft.commerce.models.dto.ProductCategory">
    select
    pro.PRO_ID,
    pro.MAN_ID,
    pro.TITLE,
	pro.STS_CD,
	prc.PRC_ID,
	prc.CATEGORY_NAME
	from pro_product pro
	left join prc_product_category prc on pro.PRO_ID = prc.PRO_ID
	where pro.PRO_ID=#{proId}
  </select>











  <update id="deleteProductById" parameterType="java.lang.Integer">
      update pro_product
      set
      STS_CD='D'
      where PRO_ID = #{proId,jdbcType=INTEGER}
  </update>



  <update id="updateProductRepo" parameterType="java.lang.Integer">
      update pro_product
      set
      STS_CD='W'
      where PRO_ID = #{proId,jdbcType=INTEGER}
  </update>


  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from pro_product
    where PRO_ID = #{proId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.neusoft.commerce.models.ProProduct" useGeneratedKeys="true" keyProperty="proId">
    insert into pro_product (PRO_ID, SKU_CD, BRD_ID, 
      MAN_ID, TITLE, UPC, 
      EAN, MODEL, WARRANTY_DAY, 
      RETAIL_PRICE, CREATED_BY, CREATION_DATE, 
      LAST_UPDATE_BY, LAST_UPDATE_DATE, CALL_CNT, 
      REMARK, STS_CD, MININUM_RETAIL_PRICE, 
      REPLENISHMENT_PERIOD, KEY_WORDS, TIME_UNIT, 
      STOCKSETING, WARRANTY)
    values (#{proId,jdbcType=INTEGER}, #{skuCd,jdbcType=VARCHAR}, #{brdId,jdbcType=INTEGER}, 
      #{manId,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{upc,jdbcType=VARCHAR}, 
      #{ean,jdbcType=VARCHAR}, #{model,jdbcType=VARCHAR}, #{warrantyDay,jdbcType=VARCHAR}, 
      #{retailPrice,jdbcType=DECIMAL}, #{createdBy,jdbcType=VARCHAR},now(),
      #{lastUpdateBy,jdbcType=VARCHAR},now(), #{callCnt,jdbcType=INTEGER},
      #{remark,jdbcType=VARCHAR}, 'A', #{mininumRetailPrice,jdbcType=DECIMAL},
      #{replenishmentPeriod,jdbcType=INTEGER}, #{keyWords,jdbcType=VARCHAR}, #{timeUnit,jdbcType=VARCHAR}, 
      #{stockseting,jdbcType=INTEGER}, #{warranty,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.neusoft.commerce.models.ProProduct" >
    insert into pro_product
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="proId != null" >
        PRO_ID,
      </if>
      <if test="skuCd != null" >
        SKU_CD,
      </if>
      <if test="brdId != null" >
        BRD_ID,
      </if>
      <if test="manId != null" >
        MAN_ID,
      </if>
      <if test="title != null" >
        TITLE,
      </if>
      <if test="upc != null" >
        UPC,
      </if>
      <if test="ean != null" >
        EAN,
      </if>
      <if test="model != null" >
        MODEL,
      </if>
      <if test="warrantyDay != null" >
        WARRANTY_DAY,
      </if>
      <if test="retailPrice != null" >
        RETAIL_PRICE,
      </if>
      <if test="createdBy != null" >
        CREATED_BY,
      </if>
      <if test="creationDate != null" >
        CREATION_DATE,
      </if>
      <if test="lastUpdateBy != null" >
        LAST_UPDATE_BY,
      </if>
      <if test="lastUpdateDate != null" >
        LAST_UPDATE_DATE,
      </if>
      <if test="callCnt != null" >
        CALL_CNT,
      </if>
      <if test="remark != null" >
        REMARK,
      </if>
      <if test="stsCd != null" >
        STS_CD,
      </if>
      <if test="mininumRetailPrice != null" >
        MININUM_RETAIL_PRICE,
      </if>
      <if test="replenishmentPeriod != null" >
        REPLENISHMENT_PERIOD,
      </if>
      <if test="keyWords != null" >
        KEY_WORDS,
      </if>
      <if test="timeUnit != null" >
        TIME_UNIT,
      </if>
      <if test="stockseting != null" >
        STOCKSETING,
      </if>
      <if test="warranty != null" >
        WARRANTY,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="proId != null" >
        #{proId,jdbcType=INTEGER},
      </if>
      <if test="skuCd != null" >
        #{skuCd,jdbcType=VARCHAR},
      </if>
      <if test="brdId != null" >
        #{brdId,jdbcType=INTEGER},
      </if>
      <if test="manId != null" >
        #{manId,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="upc != null" >
        #{upc,jdbcType=VARCHAR},
      </if>
      <if test="ean != null" >
        #{ean,jdbcType=VARCHAR},
      </if>
      <if test="model != null" >
        #{model,jdbcType=VARCHAR},
      </if>
      <if test="warrantyDay != null" >
        #{warrantyDay,jdbcType=VARCHAR},
      </if>
      <if test="retailPrice != null" >
        #{retailPrice,jdbcType=DECIMAL},
      </if>
      <if test="createdBy != null" >
        #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="creationDate != null" >
        #{creationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateBy != null" >
        #{lastUpdateBy,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateDate != null" >
        #{lastUpdateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="callCnt != null" >
        #{callCnt,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="stsCd != null" >
        #{stsCd,jdbcType=CHAR},
      </if>
      <if test="mininumRetailPrice != null" >
        #{mininumRetailPrice,jdbcType=DECIMAL},
      </if>
      <if test="replenishmentPeriod != null" >
        #{replenishmentPeriod,jdbcType=INTEGER},
      </if>
      <if test="keyWords != null" >
        #{keyWords,jdbcType=VARCHAR},
      </if>
      <if test="timeUnit != null" >
        #{timeUnit,jdbcType=VARCHAR},
      </if>
      <if test="stockseting != null" >
        #{stockseting,jdbcType=INTEGER},
      </if>
      <if test="warranty != null" >
        #{warranty,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.neusoft.commerce.models.ProProduct" >
    update pro_product
    <set >
      <if test="skuCd != null" >
        SKU_CD = #{skuCd,jdbcType=VARCHAR},
      </if>
      <if test="brdId != null" >
        BRD_ID = #{brdId,jdbcType=INTEGER},
      </if>
      <if test="manId != null" >
        MAN_ID = #{manId,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        TITLE = #{title,jdbcType=VARCHAR},
      </if>
      <if test="upc != null" >
        UPC = #{upc,jdbcType=VARCHAR},
      </if>
      <if test="ean != null" >
        EAN = #{ean,jdbcType=VARCHAR},
      </if>
      <if test="model != null" >
        MODEL = #{model,jdbcType=VARCHAR},
      </if>
      <if test="warrantyDay != null" >
        WARRANTY_DAY = #{warrantyDay,jdbcType=VARCHAR},
      </if>
      <if test="retailPrice != null" >
        RETAIL_PRICE = #{retailPrice,jdbcType=DECIMAL},
      </if>
      <if test="createdBy != null" >
        CREATED_BY = #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="creationDate != null" >
        CREATION_DATE = #{creationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateBy != null" >
        LAST_UPDATE_BY = #{lastUpdateBy,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateDate != null" >
        LAST_UPDATE_DATE = now(),
      </if>
      <if test="callCnt != null" >
        CALL_CNT = #{callCnt,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="stsCd != null" >
        STS_CD = #{stsCd,jdbcType=CHAR},
      </if>
      <if test="mininumRetailPrice != null" >
        MININUM_RETAIL_PRICE = #{mininumRetailPrice,jdbcType=DECIMAL},
      </if>
      <if test="replenishmentPeriod != null" >
        REPLENISHMENT_PERIOD = #{replenishmentPeriod,jdbcType=INTEGER},
      </if>
      <if test="keyWords != null" >
        KEY_WORDS = #{keyWords,jdbcType=VARCHAR},
      </if>
      <if test="timeUnit != null" >
        TIME_UNIT = #{timeUnit,jdbcType=VARCHAR},
      </if>
      <if test="stockseting != null" >
        STOCKSETING = #{stockseting,jdbcType=INTEGER},
      </if>
      <if test="warranty != null" >
        WARRANTY = #{warranty,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where PRO_ID = #{proId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.neusoft.commerce.models.ProProduct" >
    update pro_product
    set SKU_CD = #{skuCd,jdbcType=VARCHAR},
      BRD_ID = #{brdId,jdbcType=INTEGER},
      MAN_ID = #{manId,jdbcType=INTEGER},
      TITLE = #{title,jdbcType=VARCHAR},
      UPC = #{upc,jdbcType=VARCHAR},
      EAN = #{ean,jdbcType=VARCHAR},
      MODEL = #{model,jdbcType=VARCHAR},
      WARRANTY_DAY = #{warrantyDay,jdbcType=VARCHAR},
      RETAIL_PRICE = #{retailPrice,jdbcType=DECIMAL},
      CREATED_BY = #{createdBy,jdbcType=VARCHAR},
      CREATION_DATE = #{creationDate,jdbcType=TIMESTAMP},
      LAST_UPDATE_BY = #{lastUpdateBy,jdbcType=VARCHAR},
      LAST_UPDATE_DATE = #{lastUpdateDate,jdbcType=TIMESTAMP},
      CALL_CNT = #{callCnt,jdbcType=INTEGER},
      REMARK = #{remark,jdbcType=VARCHAR},
      STS_CD = #{stsCd,jdbcType=CHAR},
      MININUM_RETAIL_PRICE = #{mininumRetailPrice,jdbcType=DECIMAL},
      REPLENISHMENT_PERIOD = #{replenishmentPeriod,jdbcType=INTEGER},
      KEY_WORDS = #{keyWords,jdbcType=VARCHAR},
      TIME_UNIT = #{timeUnit,jdbcType=VARCHAR},
      STOCKSETING = #{stockseting,jdbcType=INTEGER},
      WARRANTY = #{warranty,jdbcType=LONGVARCHAR}
    where PRO_ID = #{proId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.neusoft.commerce.models.ProProduct" >
    update pro_product
    set SKU_CD = #{product.skuCd,jdbcType=VARCHAR},
      BRD_ID = #{product.brdId,jdbcType=INTEGER},
      MAN_ID = #{product.manId,jdbcType=INTEGER},
      TITLE = #{product.title,jdbcType=VARCHAR},
      UPC = #{product.upc,jdbcType=VARCHAR},
      EAN = #{product.ean,jdbcType=VARCHAR},
      MODEL = #{product.model,jdbcType=VARCHAR},
      LAST_UPDATE_DATE = now(),
      TIME_UNIT = #{product.timeUnit,jdbcType=VARCHAR}
    where PRO_ID = #{product.proId,jdbcType=INTEGER}
  </update>
</mapper>