<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.neusoft.commerce.dao.SdiStoreDropshipItemMapper" >
  <resultMap id="BaseResultMap" type="com.neusoft.commerce.models.SdiStoreDropshipItem" >
    <id column="DIL_ID" property="dilId" jdbcType="INTEGER" />
    <result column="PRO_ID" property="proId" jdbcType="INTEGER" />
    <result column="STR_ID" property="strId" jdbcType="INTEGER" />
    <result column="STORE_RETENTION" property="storeRetention" jdbcType="INTEGER" />
    <result column="DROPSHIP_PRICE" property="dropshipPrice" jdbcType="DECIMAL" />
    <result column="DROPSHIP_STATUS" property="dropshipStatus" jdbcType="VARCHAR" />
    <result column="CREATED_BY" property="createdBy" jdbcType="VARCHAR" />
    <result column="CREATION_DATE" property="creationDate" jdbcType="TIMESTAMP" />
    <result column="LAST_UPDATE_BY" property="lastUpdateBy" jdbcType="VARCHAR" />
    <result column="CALL_CNT" property="callCnt" jdbcType="INTEGER" />
    <result column="LAST_UPDATE_DATE" property="lastUpdateDate" jdbcType="TIMESTAMP" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
    <result column="STS_CD" property="stsCd" jdbcType="CHAR" />
    <result column="SHELF_STOCK" property="shelfStock" jdbcType="INTEGER" />
    <result column="PREFER_DATE" property="preferDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    DIL_ID, PRO_ID, STR_ID, STORE_RETENTION, DROPSHIP_PRICE, DROPSHIP_STATUS, CREATED_BY, 
    CREATION_DATE, LAST_UPDATE_BY, CALL_CNT, LAST_UPDATE_DATE, REMARK, STS_CD, SHELF_STOCK, 
    PREFER_DATE
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sdi_store_dropship_item
    where DIL_ID = #{dilId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sdi_store_dropship_item
    where DIL_ID = #{dilId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.neusoft.commerce.models.SdiStoreDropshipItem" >
    insert into sdi_store_dropship_item (DIL_ID, PRO_ID, STR_ID, 
      STORE_RETENTION, DROPSHIP_PRICE, DROPSHIP_STATUS, 
      CREATED_BY, CREATION_DATE, LAST_UPDATE_BY, 
      CALL_CNT, LAST_UPDATE_DATE, REMARK, 
      STS_CD, SHELF_STOCK, PREFER_DATE
      )
    values (#{dilId,jdbcType=INTEGER}, #{proId,jdbcType=INTEGER}, #{strId,jdbcType=INTEGER}, 
      #{storeRetention,jdbcType=INTEGER}, #{dropshipPrice,jdbcType=DECIMAL}, #{dropshipStatus,jdbcType=VARCHAR}, 
      #{createdBy,jdbcType=VARCHAR}, #{creationDate,jdbcType=TIMESTAMP}, #{lastUpdateBy,jdbcType=VARCHAR}, 
      #{callCnt,jdbcType=INTEGER}, #{lastUpdateDate,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR}, 
      #{stsCd,jdbcType=CHAR}, #{shelfStock,jdbcType=INTEGER}, #{preferDate,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.neusoft.commerce.models.SdiStoreDropshipItem" >
    insert into sdi_store_dropship_item
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="dilId != null" >
        DIL_ID,
      </if>
      <if test="proId != null" >
        PRO_ID,
      </if>
      <if test="strId != null" >
        STR_ID,
      </if>
      <if test="storeRetention != null" >
        STORE_RETENTION,
      </if>
      <if test="dropshipPrice != null" >
        DROPSHIP_PRICE,
      </if>
      <if test="dropshipStatus != null" >
        DROPSHIP_STATUS,
      </if>
      <if test="createdBy != null" >
        CREATED_BY,
      </if>
      <if test="creationDate != null" >
        CREATION_DATE,
      </if>
      <if test="lastUpdateBy != null" >
        LAST_UPDATE_BY,
      </if>
      <if test="callCnt != null" >
        CALL_CNT,
      </if>
      <if test="lastUpdateDate != null" >
        LAST_UPDATE_DATE,
      </if>
      <if test="remark != null" >
        REMARK,
      </if>
      <if test="stsCd != null" >
        STS_CD,
      </if>
      <if test="shelfStock != null" >
        SHELF_STOCK,
      </if>
      <if test="preferDate != null" >
        PREFER_DATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="dilId != null" >
        #{dilId,jdbcType=INTEGER},
      </if>
      <if test="proId != null" >
        #{proId,jdbcType=INTEGER},
      </if>
      <if test="strId != null" >
        #{strId,jdbcType=INTEGER},
      </if>
      <if test="storeRetention != null" >
        #{storeRetention,jdbcType=INTEGER},
      </if>
      <if test="dropshipPrice != null" >
        #{dropshipPrice,jdbcType=DECIMAL},
      </if>
      <if test="dropshipStatus != null" >
        #{dropshipStatus,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null" >
        #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="creationDate != null" >
        #{creationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateBy != null" >
        #{lastUpdateBy,jdbcType=VARCHAR},
      </if>
      <if test="callCnt != null" >
        #{callCnt,jdbcType=INTEGER},
      </if>
      <if test="lastUpdateDate != null" >
        #{lastUpdateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="stsCd != null" >
        #{stsCd,jdbcType=CHAR},
      </if>
      <if test="shelfStock != null" >
        #{shelfStock,jdbcType=INTEGER},
      </if>
      <if test="preferDate != null" >
        #{preferDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.neusoft.commerce.models.SdiStoreDropshipItem" >
    update sdi_store_dropship_item
    <set >
      <if test="proId != null" >
        PRO_ID = #{proId,jdbcType=INTEGER},
      </if>
      <if test="strId != null" >
        STR_ID = #{strId,jdbcType=INTEGER},
      </if>
      <if test="storeRetention != null" >
        STORE_RETENTION = #{storeRetention,jdbcType=INTEGER},
      </if>
      <if test="dropshipPrice != null" >
        DROPSHIP_PRICE = #{dropshipPrice,jdbcType=DECIMAL},
      </if>
      <if test="dropshipStatus != null" >
        DROPSHIP_STATUS = #{dropshipStatus,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null" >
        CREATED_BY = #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="creationDate != null" >
        CREATION_DATE = #{creationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateBy != null" >
        LAST_UPDATE_BY = #{lastUpdateBy,jdbcType=VARCHAR},
      </if>
      <if test="callCnt != null" >
        CALL_CNT = #{callCnt,jdbcType=INTEGER},
      </if>
      <if test="lastUpdateDate != null" >
        LAST_UPDATE_DATE = #{lastUpdateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="stsCd != null" >
        STS_CD = #{stsCd,jdbcType=CHAR},
      </if>
      <if test="shelfStock != null" >
        SHELF_STOCK = #{shelfStock,jdbcType=INTEGER},
      </if>
      <if test="preferDate != null" >
        PREFER_DATE = #{preferDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where DIL_ID = #{dilId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.neusoft.commerce.models.SdiStoreDropshipItem" >
    update sdi_store_dropship_item
    set PRO_ID = #{proId,jdbcType=INTEGER},
      STR_ID = #{strId,jdbcType=INTEGER},
      STORE_RETENTION = #{storeRetention,jdbcType=INTEGER},
      DROPSHIP_PRICE = #{dropshipPrice,jdbcType=DECIMAL},
      DROPSHIP_STATUS = #{dropshipStatus,jdbcType=VARCHAR},
      CREATED_BY = #{createdBy,jdbcType=VARCHAR},
      CREATION_DATE = #{creationDate,jdbcType=TIMESTAMP},
      LAST_UPDATE_BY = #{lastUpdateBy,jdbcType=VARCHAR},
      CALL_CNT = #{callCnt,jdbcType=INTEGER},
      LAST_UPDATE_DATE = #{lastUpdateDate,jdbcType=TIMESTAMP},
      REMARK = #{remark,jdbcType=VARCHAR},
      STS_CD = #{stsCd,jdbcType=CHAR},
      SHELF_STOCK = #{shelfStock,jdbcType=INTEGER},
      PREFER_DATE = #{preferDate,jdbcType=TIMESTAMP}
    where DIL_ID = #{dilId,jdbcType=INTEGER}
  </update>
</mapper>